# app
NODE_ENV=development
DOMAIN=http://localhost:5000
PORT=5000
SECRET_KEY=secretKey

WEBRTC_LISTEN_IP="0.0.0.0"
WEBRTC_ANNOUNCED_IP=""

# Redis
REDIS_HOST="localhost"
REDIS_PORT="6379"

# MySQL
DB_HOST="localhost"
DB_PORT=""
DB_USERNAME=""
DB_PASSWORD=""
DB_DATABASE=""

# ssh serv
SSH_SERVER_HOST=""
SSH_SERVER_PORT=""
SSH_SERVER_USERNAME=""
SSH_SERVER_PASSWORD=""
SSH_SERVER_STORAGE="/home/huonglm/live-recoder"

# WEBHOOK
WEBHOOK_DOMAIN_URL="https://localhost"
